/* icon */
[class^="ic-"] {display:inline-block;background-size:contain;background-repeat:no-repeat;background-position:50% 50%}
.ic-language {width:26px;height:25px;background-image:url("../images/icon/ic-language.png")}
.ic-home {width:30px;height:26px;background-image:url("../images/icon/ic-home.png")}
.ic-arrow {width:9px;height:22px;background-image:url("../images/icon/ic-arrow.png")}
.ic-notice {width:25px;height:25px;background-image:url("../images/icon/ic-notice.png")}
.ic-pprev {width:7px;height:8px;background-image:url("../images/icon/ic-pprev.png")}
.ic-prev {width:4px;height:8px;background-image:url("../images/icon/ic-prev.png")}
.ic-nnext {width:7px;height:8px;background-image:url("../images/icon/ic-nnext.png")}
.ic-next {width:4px;height:8px;background-image:url("../images/icon/ic-next.png")}
.ic-new {width:19px;height:19px;background-image:url("../images/icon/ic-new.png")}
.ic-gnb-close {width:20px;height:20px;background-image:url("../images/icon/ic-gnb-close.png")}
.ic-gnb-open {width:24px;height:19px;background-image:url("../images/icon/ic-gnb-open.png")}

/* button */
[class^="btn-basic-"] {display:inline-flex;align-items:center;justify-content:center}
.btn-basic-line {height:52px;min-width:140px;padding:0 24px;border:2px solid #000;font-size:16px;color:#000}

/* breadcrumb */
.breadcrumb-box {background-color:#dde6f0}
.breadcrumb-box .breadcrumb {height:68px;display:flex;align-items:center}
.breadcrumb-box .breadcrumb-item {color:#6b8aad;font-size:18px}
.breadcrumb-box .breadcrumb-item:not(:last-child) {display:flex;align-items:center;margin-right:16px}
.breadcrumb-box .breadcrumb-item:not(:last-child):after {content:'';display:block;width:9px;height:22px;background:url("../images/icon/ic-arrow.png") no-repeat 50% 50%;background-size:contain;margin-left:16px}

/* title */
.page-title-wrap {display:flex;align-items:center;flex-wrap:wrap;gap:8px}
.page-title-wrap .r-content {margin-left:auto}
.page-title {font-size:48px;color:#000;font-weight:700}
.sub-title {font-size:24px;color:#000;font-weight:700}

.page-txt-a {font-size:18px;color:#000;line-height:1.6}
.page-txt-b {font-size:26px;color:#000;line-height:1.5}
.page-txt-c {font-size:24px;color:#000;line-height:1.5}
.page-txt-d {font-size:20px;color:#0072ff;line-height:1.5;font-weight:700}

/* margin */
.mt-100 {margin-top:100px}
.mt-80 {margin-top:80px}
.mt-40 {margin-top:40px}
.mt-20 {margin-top:20px}
.mt-10 {margin-top:10px}

/* table */
.w-5p {width:5%}
.w-8p {width:8%}
.w-10p {width:10%}
.w-15p {width:15%}
.w-20p {width:20%}
.w-auto {width:auto}
.table-list table {border-bottom:2px solid #cfcfd1}
.table-list thead th {background-color:#000;color:#fff;text-align:center;height:48px;font-size:15px}
.table-list tbody td {height:48px;text-align:center;font-size:17px;font-weight:500}
.table-list tbody td.subject {text-align:left;padding:0 10px}
.table-list tbody tr.fixed td {background-color:#e9ebee;font-weight:700}
.table-list tbody td .link-notice {display:inline-block;max-width:calc(100% - 28px);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;color:#000}
.table-list .ic-new {vertical-align:middle;margin-left:8px;position:relative;top:-2px}
.table-list.color-b thead th {background-color:#555556}
.table-list.color-b tbody tr ~ tr td {border-top:2px solid #dddedf}

.table-list-b table {border-top:4px solid #5e5d5d}
.table-list-b thead th {font-size:16px;color:#343435;line-height:1.2;padding:12px 8px;text-align:center;border-right:2px solid #d9d9db}
.table-list-b tbody td.no-line,
.table-list-b thead th.no-line {border-right:none}
.table-list-b thead tr ~ tr th {border-top:2px solid #d9d9db}
.table-list-b tbody td {color:#343435;font-size:16px;line-height:1.2;border-right:2px solid #d9d9db;border-bottom:2px solid #d9d9db;text-align:center;padding:12px 8px;font-weight:500}
.table-list-b tbody tr:first-child td {position:relative;padding-top:15px;padding-bottom:11px}
.table-list-b tbody tr:first-child td:before {content:'';position:absolute;top:0;left:0;right:-2px;height:2px;background-color:#5e5d5d}
.table-list-b tbody tr:first-child td.no-line:before {right:0}

/* paging */
.paging {margin-top:40px;display:flex;justify-content:center;gap:4px}
.paging .link-paging {display:inline-flex;min-width:30px;height:28px;border:1px solid #ccc;align-items:center;justify-content:center;padding:0 8px;font-size:12px;color:#666}
.paging .link-paging:hover {border-color:#0848eb;color:#0848eb}
.paging .link-paging.active  {border-color:#0848eb;color:#fff;background-color:#0848eb}
.paging .link-paging.prev {margin-right:10px}
.paging .link-paging.next {margin-left:10px}

/* nav */
.nav-box {display:flex;flex-wrap:wrap;gap:16px}
.nav-box .nav-item {height:94px;border:2px solid #000;background-color:#fff;display:inline-flex;align-items:center;justify-content:center;padding:0 32px;min-width:260px;font-size:28px;color:#000}
.nav-box .nav-item.active {background-color:#000;color:#fff}

.weather-area {width:100%;aspect-ratio:1360/1070;text-align:center;border:1px solid #eee}
.weather-area img {width:100%;height:100%;object-fit:contain;vertical-align:top}

.map-area {width:100%;aspect-ratio:1360/608;text-align:center;border:1px solid #eee;position:relative;background-color:#eee}
.map-area .btn-group {position:absolute;top:16px;left:16px;display:flex;flex-wrap:wrap;gap:6px}
.map-area .map-choice {height:32px;padding:0 16px;border-radius:16px;display:inline-flex;align-items:center;font-size:16px;color:#303032;font-weight:700;background-color:#fff}
.map-area .map-choice.active {background-color:#0042ff;color:#fff}

/* select */
.select-a {height:48px;border:2px solid #c8c9cc;border-radius:0;font-size:20px;font-weight:700;background:url("../images/icon/ic-select.png") 100% 50% no-repeat;padding:0 36px 0 12px}
.select-a::-ms-expand {display:none}

.sh-box-a {display:flex;align-items:center;gap:8px}
.sh-box-a .select-a {min-width:450px}
.sh-box-a .btn-select {height:48px;padding:0 24px;font-size:22px;color:#fff;font-weight:700;display:inline-flex;align-items:center;background-color:#374060}

.box-case {display:flex;gap:8px}
.box-case .case-item {flex:1;display:flex;flex-direction:column;align-items:center}
.case-item .btn-case {height:48px;border-radius:24px;background-color:#838484;display:inline-flex;min-width:160px;padding:0 20px;align-items:center;justify-content:center;color:#fff;font-size:22px;font-weight:700}
.case-item .case-img {aspect-ratio:450/166;border:1px solid #eee;margin-top:10px;width:100%}

/* ui modal :base */
.scroll-no {overflow:hidden;padding-right:17px;}
.ui-modal.n1 {z-index:201;}
.ui-modal.n2 {z-index:202;}
.ui-modal.n3 {z-index:203;}
.ui-modal.n4 {z-index:204;}
.ui-modal.n5 {z-index:205;}
.ui-modal {display:none;position:fixed;top:0;left:0;z-index:200;width:100%;height:100%;overflow:hidden}
.ui-modal.ready {display:flex;overflow-y:hidden;}
.ui-modal.ready .ui-modal-dim {content:"";display:block;position:fixed;top:0;left:0;width:100%;height:100%;opacity:0;background:rgba(0, 0, 0, .5);}
.ui-modal.open .ui-modal-dim{opacity:1;}
.ui-modal.ps-center.is-over {align-items:flex-start;}
.ui-modal.ps-center.is-over .ui-modal-wrap {margin:20px 0;}
.ui-modal.ps-center {justify-content:center;align-items:center;}
.ui-modal.ps-top {justify-content:center;align-items:flex-start;overflow:hidden;}
.ui-modal.ps-bottom {justify-content:center;align-items:flex-end;overflow:hidden;}
.ui-modal-wrap {max-width:600px;opacity:0;box-shadow:0 13px 49px 0 rgba(0,0,0,.45);position:relative;z-index:1;background:#fff;}
.ui-modal.open .ui-modal-wrap{opacity:1;}
.type-full .ui-modal-wrap,.size-mobile .ui-modal.ps-top .ui-modal-wrap,.size-mobile .ui-modal.ps-bottom .ui-modal-wrap {margin:0;width:100%;}
.ui-modal.ps-top .ui-modal-wrap {margin-top:10px;}
.ui-modal.ps-bottom .ui-modal-wrap {margin-bottom:10px;}
.ui-modal.ready.open {animation-name:fadeIn;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.ready.close {animation-name:fadeOut;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.type-full.open.ps-center .ui-modal-wrap {animation-name:slideUpIn;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.type-full.close.ps-center .ui-modal-wrap {animation-name:slideUpOut;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.open.ps-center .ui-modal-wrap {animation-name:scaleIn;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.close.ps-center .ui-modal-wrap {animation-name:scaleOut;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.close.ps-top .ui-modal-wrap {animation-name:slideDownOut;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.open.ps-top .ui-modal-wrap {animation-name:slideDownIn;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.close.ps-bottom .ui-modal-wrap {animation-name:slideUpOut;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.open.ps-bottom .ui-modal-wrap {animation-name:slideUpIn;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.close.ps-center.type-system .ui-modal-wrap {animation-name:slideDownOut;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal.open.ps-center.type-system .ui-modal-wrap {animation-name:slideDownIn;animation-duration:.2s;animation-iteration-count:1;animation-timing-function:linear;animation-fill-mode:forwards;}
.ui-modal-header {position:relative;top:0;left:0;width:100%;padding:30px}
.ui-modal-header h1 {font-weight:700;font-size:34px;color:#000;line-height:1}
.ui-modal-header .icon-close {position:absolute;top:30px;right:30px;width:28px;height:28px;background:url("../images/icon/ic-popup-close.png") 0 0 no-repeat;background-size:contain}
.ui-modal-body {position:relative;margin-top:0;padding:0 30px 30px 30px;background:#fff}
.ui-modal-footer {position:relative;margin-top:0}
.ui-modal-footer .wrap-btn {margin:0;}


@keyframes fadeIn {0% {opacity:0;}100% {opacity:1;}}
@keyframes fadeOut {0% {opacity:1;}100% {opacity:0;visibility:hidden;}}
@keyframes scaleIn {0% {opacity:0;transform:scale(0.9);}100% {opacity:1;transform:scale(1);}}
@keyframes scaleOut {0% {opacity:1;transform:scale(1);}100% {opacity:0;transform:scale(0.9);visibility:hidden;}}
@keyframes slideDownIn {0% {display:block;opacity:0;}1% {top:-100px;opacity:0;}100% {top:0;opacity:1;}}
@keyframes slideDownOut {0% {top:0;opacity:1;}99% {top:-100px;opacity:0;}100% {display:none;opacity:0;}}
@keyframes slideUpIn {0% {display:block;opacity:0;z-index:0;top:auto;}1% {bottom:-100px;opacity:0;top:auto;}100% {bottom:0;opacity:1;top:auto;}}
@keyframes slideUpOut {0% {bottom:0;opacity:1;}99% {bottom:-100px;opacity:0;}100% {opacity:0;bottom:-100px;visibility:hidden;}}
@keyframes slideLeftIn {0% {display:block;}1% {left:-100px;opacity:0;}100% {left:0;opacity:1;}}
@keyframes slideLeftOut {0% {left:0;opacity:1;}99% {left:-100px;opacity:0;}100% {left:-100px;opacity:0;visibility:hidden;}}
@keyframes slideRightIn {0% {display:block;}1% {right:-100px;opacity:0;}100% {right:0;opacity:1;}}
@keyframes slideRightOut {0% {right:0;opacity:1;}99% {right:-100px;opacity:0;}100% {right:-100px;opacity:0;visibility:hidden;}}
@keyframes clockAni {0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
@keyframes orbitLeftAni {0% {left:0;z-index:2;opacity:1;}50% {left:calc(100% - 20px);z-index:2;opacity:1;}51% {left:calc(100% - 20px);z-index:1;opacity:1;}100% {left:0;z-index:1;opacity:1;}}
@keyframes orbitRightAni {0% {left:calc(100% - 20px);z-index:1;opacity:1;}50% {left:0;z-index:1;opacity:1;}51% {left:0;z-index:2;opacity:1;}100% {left:calc(100% - 20px);z-index:2;opacity:1;}}
@keyframes orbitScaleShowAni {0% {width:0;height:0;;}100% {width:150vmax;height:150vmax;}}
@keyframes orbitScaleHideAni {0% {width:150vmax;height:150vmax;}100% {width:0;height:0;;}}
@keyframes fadeInTop {0% {opacity:0;bottom:-40px;}100% {opacity:1;bottom:0;}}
@keyframes fadeOutTop {0% {opacity:1;bottom:0;}99% {opacity:0;bottom:-40px;}100% {opacity:0;bottom:-40px;visibility:hidden;}}
@keyframes datepickerUp {0% {display:block;z-index:0;}1% {bottom:-100vw;opacity:0;}100% {bottom:0;opacity:1;}}
@keyframes datepickerDown {0% {bottom:0;opacity:1;}99% {bottom:-100vw;opacity:0;}100% {bottom:-100vw;opacity:0;visibility:hidden;}}

@media (min-width: 1024px) {
    ::-webkit-scrollbar {width:6px}
    ::-webkit-scrollbar-track {background-color:transparent}
    ::-webkit-scrollbar-thumb {border-radius:30px;background-color:rgba(0,0,0,.1);border:none}
    ::-webkit-scrollbar-button {width:0;height:0}
}

@media (max-width:1023px) {
    .not-mobile {display:none}

    .ic-home {width:15px;height:13px}
    .ic-new {width:16px;height:16px}

    .btn-basic-line {height:40px;min-width:100px;font-size:14px;padding:0 16px}

    .page-title {font-size:24px}
    .sub-title {font-size:16px}

    .page-txt-a {font-size:13px}
    .page-txt-b {font-size:16px}
    .page-txt-c {font-size:14px}
    .page-txt-d {font-size:14px}

    .mt-100 {margin-top:50px}
    .mt-80 {margin-top:40px}
    .mt-40 {margin-top:20px}

    .breadcrumb-box .breadcrumb {height:40px}
    .breadcrumb-box .breadcrumb-item {font-size:12px}
    .breadcrumb-box .breadcrumb-item:not(:last-child):after {width:5px;height:11px;margin-left:8px}
    .breadcrumb-box .breadcrumb-item:not(:last-child) {margin-right:8px}

    .nav-box {gap:8px}
    .nav-box .nav-item {height:48px;min-width:160px;padding:0 20px;font-size:14px}

    .table-list thead th {font-size:14px}
    .table-list tbody td {font-size:13px}

    .table-list-b thead th {font-size:14px;padding:8px}
    .table-list-b tbody td {font-size:13px;padding:8px}
    .table-list-b tbody tr:first-child td {padding-top:11px;padding-bottom:7px}

    .paging {margin-top:28px}

    .w-wide {overflow-x:auto;overflow-y:hidden}
    .w-wide table {width:160%}

    .map-area {aspect-ratio:4/3}

    /* select */
    .select-a {height:40px;border:1px solid #c8c9cc;font-size:14px;background:url("../images/icon/ic-select.png") 100% 50% no-repeat;padding:0 36px 0 12px}
    .sh-box-a .select-a {min-width:auto;flex:1}
    .sh-box-a .btn-select {height:40px;padding:0 16px;font-size:14px;flex-shrink:0}

    .box-case {flex-direction:column;gap:16px}
    .case-item .btn-case {font-size:14px;height:40px;border-radius:20px;min-width:100px}

    .ui-modal-wrap {width:calc(100% - 40px);max-width:600px}
    .ui-modal-header .icon-close {top:20px;right:20px;width:20px;height:20px}
    .ui-modal-header {padding:20px}
    .ui-modal-header h1 {font-size:20px}
    .ui-modal-body {padding:0 20px 20px 20px}
}
@media (max-width:600px) {
    .w-wide table {width:300%}
}
