@charset "UTF-8";
@font-face {
	font-family: 'GmarketSans';
	font-weight: 300;
	font-style: normal;
	src: url('../font/GmarketSansLight.eot');
	src: url('../font/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
	url('../font/GmarketSansLight.woff2') format('woff2'),
	url('../font/GmarketSansLight.woff') format('woff'),
	url('../font/GmarketSansLight.ttf') format("truetype");
	font-display: swap;
}
@font-face {
	font-family: 'GmarketSans';
	font-weight: 500;
	font-style: normal;
	src: url('../font/GmarketSansMedium.eot');
	src: url('../font/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
	url('../font/GmarketSansMedium.woff2') format('woff2'),
	url('../font/GmarketSansMedium.woff') format('woff'),
	url('../font/GmarketSansMedium.ttf') format("truetype");
	font-display: swap;
}
@font-face {
	font-family: 'GmarketSans';
	font-weight: 700;
	font-style: normal;
	src: url('../font/GmarketSansBold.eot');
	src: url('../font/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
	url('../font/GmarketSansBold.woff2') format('woff2'),
	url('../font/GmarketSansBold.woff') format('woff'),
	url('../font/GmarketSansBold.ttf') format("truetype");
	font-display: swap;
}