
@font-face {
	font-family: 'KoPubWorldDotum';
	font-weight: 300;
	font-style: normal;
	src: url('../font/KoPubWorldDotumLight.eot');
	src: url('../font/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
	url('../font/KoPubWorldDotumLight.woff2') format('woff2'),
	url('../font/KoPubWorldDotumLight.woff') format('woff'),
	url('../font/KoPubWorldDotumLight.ttf') format("truetype");
	font-display: swap;
}
@font-face {
	font-family: 'KoPubWorldDotum';
	font-weight: 500;
	font-style: normal;
	src: url('../font/KoPubWorldDotumMedium.eot');
	src: url('../font/KoPubWorldDotumMedium.eot?#iefix') format('embedded-opentype'),
	url('../font/KoPubWorldDotumMedium.woff2') format('woff2'),
	url('../font/KoPubWorldDotumMedium.woff') format('woff'),
	url('../font/KoPubWorldDotumMedium.ttf') format("truetype");
	font-display: swap;
}
@font-face {
	font-family: 'KoPubWorldDotum';
	font-weight: 700;
	font-style: normal;
	src: url('../font/KoPubWorldDotumBold.eot');
	src: url('../font/KoPubWorldDotumBold.eot?#iefix') format('embedded-opentype'),
	url('../font/KoPubWorldDotumBold.woff2') format('woff2'),
	url('../font/KoPubWorldDotumBold.woff') format('woff'),
	url('../font/KoPubWorldDotumBold.ttf') format("truetype");
	font-display: swap;
}