.scroll-off {overflow:hidden}

.wrap {display:flex;flex-direction:column;height:100%}
.wrap .content-area {flex:1;padding:80px 0 100px}
.wrap .header,
.wrap .footer {flex-shrink:0}

.container {max-width:1380px;margin:0 auto;padding:0 10px}
.container.contents {margin-top:80px}

.header {background-color:#002868}
.header-top > .container {padding:40px 10px;display:flex;align-items:center;border-bottom:2px solid rgba(255,255,255,.15)}
.header-top .logo {background:url("../images/common/logo.png") no-repeat 50% 50%;width:346px;height:83px;background-size:contain}
.header-top .r-content {margin-left:auto}
.header-top .language-type {display:flex;align-items:center;font-size:20px;color:#fff}
.header-top .language-type i {margin-right:15px}
.header-top .gnb-wrap {position:absolute;top:165px;left:0;right:0;background-color:#002868;min-height:80px}
.header-top .r-content .btn-gnb-open {display:none}

.gnb-wrap .gnb {display:flex}
.gnb-wrap .gnb:hover .sub-gnb {padding:10px 0 60px;height:auto;opacity:1}
.gnb-wrap .gnb .gnb-item {flex:1 0;position:relative}
.gnb-wrap .gnb .gnb-item ~ .gnb-item:before {content:'';position:absolute;width:1px;height:16px;background-color:rgba(255,255,255,.2);top:20px;left:0}
.gnb-wrap .gnb .link-gnb {height:60px;display:flex;width:100%;align-items:center;justify-content:center;font-weight:700;font-size:24px;color:#fff;position:relative;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.gnb-wrap .gnb .gnb-item .gnb-txt {position:relative;display:inline-flex;height:100%;align-items:center}
.gnb-wrap .gnb .gnb-item .gnb-txt:before {content:'';position:absolute;top:-3px;left:50%;right:50%;height:3px;opacity:0;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.gnb-wrap .gnb .gnb-item:hover .gnb-txt:before,
.gnb-wrap .gnb .gnb-item.active .gnb-txt:before {left:0;right:0;opacity:1;background-color:#45fa42}
.gnb-wrap .gnb .gnb-item:hover .link-gnb,
.gnb-wrap .gnb .gnb-item.active .link-gnb {color:#45fa42}

.gnb-wrap .sub-gnb {overflow:hidden;height:0;opacity:0;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.gnb-wrap .link-sub-gnb {width:100%;height:52px;display:flex;align-items:center;justify-content:center;color:#fff;font-size:20px}

.mobile-gnb-wrap {position:fixed;top:0;width:100%;left:0;bottom:0;z-index:10;display:none;pointer-events:none;}
.mobile-gnb-wrap::before{content:"";display:block;width:100%;opacity:0;height:100%;position:fixed;top:0;left:0;background-color:rgba(0,0,0,.6);visibility:hidden;pointer-events:none;-webkit-transition-duration:0.2s;transition-duration:0.2s;}
.mobile-gnb-wrap.active::before{visibility:visible;opacity:1}
.mobile-gnb-wrap.active {left:0;visibility:visible;pointer-events:initial;}
.mobile-gnb-wrap.active .mobile-gnb{right:0}
.mobile-gnb {position:absolute;right:-100vw;width:calc(100% - 44px);background-color:#fff;top:0;height:100%;overflow-y:auto;overflow-x:hidden;-webkit-transition-duration:0.2s;transition-duration:0.2s;}
.mobile-gnb-top {display:flex;justify-content:space-between;padding:20px}
.mobile-gnb-top .language-type {color:#000;font-size:18px}
.mobile-gnb-top .ic-language {width:20px;height:20px;background-image:url("../images/icon/ic-language-m.png")}
.mobile-gnb-top .language-type i {margin-right:8px}

.mobile-gnb .gnb .link-gnb {height:40px;display:flex;width:100%;align-items:center;font-weight:700;font-size:16px;color:#000;position:relative;padding-left:20px;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.mobile-gnb .gnb .gnb-item.active .link-gnb {color:#1bee16}
.mobile-gnb .gnb .gnb-item.active .sub-gnb {margin-bottom:16px;background-color:#e9ebee;padding:8px 0;height:auto}
.mobile-gnb .gnb .gnb-item .gnb-txt:before {content:'';position:absolute;top:50%;background-color:#1bee16;left:0;height:0;width:3px;opacity:0;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.mobile-gnb .gnb .gnb-item.active .gnb-txt:before {height:24px;margin-top:-12px;opacity:1}
.mobile-gnb .sub-gnb {height:0;overflow:hidden;-webkit-transition-duration:0.2s;transition-duration:0.2s;margin-left:20px}
.mobile-gnb .link-sub-gnb {width:100%;height:36px;display:flex;align-items:center;color:#59595b;font-size:14px;padding:0 20px;font-weight:700}

.footer {background-color:#000;padding:64px 0}
.footer .container {display:flex;justify-content:space-between}
.footer .footer-logo {background:url("../images/common/footer-logo.png") no-repeat 50% 50%;background-size:contain;width:299px;height:100px;flex-shrink:0}
.footer .copy {text-align:right}
.footer .copy .copy-txt {font-size:18px;color:#7a7979;font-weight:300}
.footer .copy .copy-txt ~ .copy-txt {margin-top:12px}
.footer .copy .copy-item {margin-left:40px;display:inline-block}

@media (max-width: 1023px) {
    .container {padding:0 20px}
    .container.contents {margin-top:40px}

    .header-top .r-content .btn-gnb-open,
    .mobile-gnb-wrap {display:block}
    .header-top .r-content .language-type,
    .gnb-wrap {display:none}

    .header-top > .container {border:none;padding:20px}
    .header-top .logo {width:173px;height:42px}

    .footer {padding:0}
    .footer .container {padding:12px 20px}
    .footer .footer-logo {width:100px;height:34px}
    .footer .copy .copy-txt {font-size:11px}
    .footer .m-block {display:block}
    .footer .copy .copy-txt ~ .copy-txt {margin-top:0}

    .wrap .content-area {padding:0 0 50px}
}