.container {max-width:1380px;margin:0 auto;padding:0 10px}

.header {background-color:#002868}
.header-top > .container {padding:40px 10px;display:flex;align-items:center;border-bottom:2px solid rgba(255,255,255,.15)}
.header-top .logo {background:url("../images/common/logo.png") no-repeat 50% 50%;width:346px;height:83px;background-size:contain}
.header-top .r-content {margin-left:auto}
.header-top .language-type {display:flex;align-items:center;font-size:20px;color:#fff}
.header-top .language-type i {margin-right:15px}
.header-top .gnb-wrap {position:absolute;top:165px;left:0;right:0;background-color:#002868}

.gnb-wrap .gnb {display:flex}
.gnb-wrap .gnb:hover .sub-gnb {padding:10px 0 60px;height:auto;opacity:1}
.gnb-wrap .gnb .gnb-item {flex:1 0;position:relative}
.gnb-wrap .gnb .gnb-item ~ .gnb-item:before {content:'';position:absolute;width:1px;height:16px;background-color:rgba(255,255,255,.2);top:20px;left:0}
.gnb-wrap .gnb .link-gnb {height:60px;display:flex;width:100%;align-items:center;justify-content:center;font-weight:700;font-size:24px;color:#fff;position:relative;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.gnb-wrap .gnb .gnb-item .gnb-txt {position:relative;display:inline-flex;height:100%;align-items:center}
.gnb-wrap .gnb .gnb-item .gnb-txt:before {content:'';position:absolute;top:-3px;left:50%;right:50%;height:3px;opacity:0;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.gnb-wrap .gnb .gnb-item:hover .gnb-txt:before,
.gnb-wrap .gnb .gnb-item.active .gnb-txt:before {left:0;right:0;opacity:1;background-color:#45fa42}
.gnb-wrap .gnb .gnb-item:hover .link-gnb,
.gnb-wrap .gnb .gnb-item.active .link-gnb {color:#45fa42}

.gnb-wrap .sub-gnb {overflow:hidden;height:0;opacity:0;-webkit-transition-duration:0.2s;transition-duration:0.2s}
.gnb-wrap .link-sub-gnb {width:100%;height:52px;display:flex;align-items:center;justify-content:center;color:#fff;font-size:20px}

.footer {background-color:#000;padding:64px 0}
.footer .container {display:flex;justify-content:space-between}
.footer .footer-logo {background:url("../images/common/footer-logo.png") no-repeat 50% 50%;background-size:contain;width:299px;height:100px}
.footer .copy {text-align:right}
.footer .copy .copy-txt {font-size:18px;color:#7a7979;font-weight:300}
.footer .copy .copy-txt ~ .copy-txt {margin-top:12px}
.footer .copy .copy-item {margin-left:40px;display:inline-block}