/* default */
html, body {width:100%;height:100%}
body {font-family:'KoPubWorldDotum', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', arial, sans-serif;font-size:16px;background:#fff;line-height:1.5;letter-spacing:-.5px;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-moz-osx-font-smoothing:grayscale;color:#535353;font-weight:500}
body, div, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, tr, tbody, thead, table, th, td, b, i, a, span, strong, em, label {margin:0;padding:0;box-sizing:border-box}
dl, dt, dd, ul, ol, li {box-sizing:border-box;list-style:none;padding:0}
h1, h2, h3, h4, h5, h6, dt {font-weight:normal}
img, fieldset, iframe, button {border:0 none}
dl, dt, dd, ul, ol, li {list-style:none;padding:0;margin:0}
table {width:100%;border-collapse:separate;border-spacing:0;table-layout:fixed}
th, td {border-collapse:collapse}
legend, caption {height:0;overflow:hidden;opacity:0;filter:alpha(opacity=0)}
hr {margin:0}
em, u, cite, i, abbr {font-style:normal;text-decoration:none}
strong, b {font-weight:normal}
a {color:rgb(16, 79, 252); outline-offset:1px;text-decoration:none;}
button {border:0 none;font-family:'KoPubWorldDotum','sans-serif';cursor:pointer;background:transparent;color:#666}
input, textarea, select {margin:0;box-sizing:border-box;font-family:'KoPubWorldDotum', sans-serif;font-size:15px;outline:none}
input::-webkit-search-cancel-button,
[class*="inp-"]::-webkit-search-cancel-button {display:none}
input::placeholder {color:#999}
label {cursor:pointer}
* {box-sizing:border-box;word-break:break-all}

.for-a11y {position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);overflow:hidden;text-indent:-99em}

/* html5 */
article, aside, details, figcaption, figure, footer, header, main, hgroup, nav, section, summary {display:block; margin:0; padding:0; box-sizing:border-box;}